<h3>Email: <%= @order.email %></h3>
<% @line_items.each do |item| %>
  <ol>
    <li>
      <h3><%= item.product.name %></h3>
      <div class="order-details-image"> <%= image_tag item.product.image %> </div>
      <h4>Quantity: <%= item.quantity %></h4>
      <p><%= item.product.description %></p>
      <h3>
        Individual Price: <%= format_price(item.item_price_cents) %>
      </h3>
      <h3>
        Total Price: <%= format_price(item.total_price_cents) %>
      </h3>
    </li>
  </ol>
<% end %>

<h3>Order Sub-Total: <%= format_price(@order.total_cents) %></h3>
<h3>Tax: <%= calculate_tax(@order.total_cents) %>
</h3>
<h3>Stripe Charge Confirmation ID: <%= @order.stripe_charge_id %></h3>
