<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
      <h1><span class="error"><%= message %></span></h1>
    <% end %>
  <% end %>
  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= number_to_currency(@product.price) %></dd>
          <dt>Overall Rating</dt>
            <% if @reviews.average(:rating) == nil %>
            <dd>No Reviews Yet</dd>
            <% else %>
            <dd><%= @reviews.average(:rating) %>/10</dd>
            <% end %>
        </dl>
      </div>
    </div>

  </article>
  <div class="reviews-container">
    <h2>New Review</h2>
      <%= form_for [@product, @review] do |f| %>
        <div>
          <%= f.text_area :description, size: "50x10", placeholder: "Type your new review here!" %>
        </div>
      Rating
        <%= f.select :rating, [["1"], ["2"], ["3"], ["4"], ["5"], ["6"], ["7"], ["8"], ["9"], ["10"]] %>
        <%= f.submit %>
      <% end %>
  </div>

  <% if @reviews.empty? %>
    <div class="no-reviews">
      <h2>No Reviews Yet</h2>
    </div>
  <% else %>
  <div class="reviews">
    <div class="col-sm-4">
      <h2>User Reviews</h2>
      <% @reviews.reverse_each do |review| %>
      <dl class="product-reviews">
          <% if review.persisted? %>
            <dt>User</dt>
            <dd><%= review.user.name %></dd>
            <dt>Rating</dt>
            <dd><%= review.rating %>/10</dd>
            <dt>Description</dt>
            <dd><%= review.description %></dd>
            <dt>Post Date</dt>
            <dd><%= review.created_at.to_formatted_s(:short) %></dd>
            <% if review.user.id == current_user.id %>
            <span>
              <%= link_to product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?"} do  %>
              <%= fa_icon("trash") %> Delete
              <% end %>
              <% end %>
            </span>
        </dl>
        <% end %>
        <% end %>
      </div>
  </div>
  <% end %>
</section>
